<% provide(:title, "Редактировать") %> 
<div class="img-edit"> 
  <%= link_to image_tag("moya_vesna.png", alt: "Весна"), users_path %>
</div>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'fields', f: f %>
      <%= f.submit "Сохранить", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>